<div class="container">

  <h1 class="text-center">Cocktails</h1>
  <h4 class="text-center"><%= link_to(new_cocktail_path) do %><i class="fa fa-plus"></i> add
          </li><% end %></h4>


<div class="pull-top pull-right">
  <form action="/cocktails" method="get" id="cocktails-order">
    <%= select(nil, "order_by_name", [["Date added", nil], ["Alphabetical", true]], { selected: params[:order_by_name] }) %>
  </form>
</div>
</div>

<div class="container">

  <% @cocktails.each do |cocktail| %>
    <div class="product">
      <%= cl_image_tag cocktail.photo, height: 75, width: 75, crop: :thumb, class: "product-image hidden-xs" %>
      <div class='product-body'>
        <h3><%= cocktail.name %></h3>
        <p>Description to come</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><%#= link_to cocktail_path(cocktail) do %><a href="" data-toggle="modal" data-target="#cocktail_<%= cocktail.id.to_s %>">
          <i class="fa fa-eye"></i> view
          <%# end %></li></a>

          <li><%= link_to cocktail_path(cocktail) do %>
          <i class="fa fa-pencil"></i> edit
          <% end %></li>


      </ul>
    </div>


    <div class="modal fade" id="cocktail_<%= cocktail.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          Quick view
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <%= render "modal", cocktail: cocktail %>
          </div>
        </div>
      </div>
    </div>


<% end %>

<!--

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @cocktails.each do |cocktail| %>
        <tr>
          <td><p><%= cocktail.id %></p></td>
          <td><p><%= cl_image_tag cocktail.photo, height: 50, width: 50, crop: :thumb %></p></td>
          <td><p><%= cocktail.name %></p></td>
          <td><p><%= link_to( "view", cocktail_path(cocktail)) %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

