<div class="container text-center">
  <h5>Cocktail</h5>
  <h2><%= @cocktail.name %></h2>
</div>

<div class="container" id="doses">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Ingredient</th>
      </tr>
    </thead>
    <tbody>
      <% @cocktail.doses.each do |dose| %>
        <tr>
          <td><%= dose.description %></td>
          <td><%= dose.ingredient.name %></td>
          <td><%= link_to("delete", dose_path(dose), method: :delete) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= link_to("Back to cocktails", cocktails_path, class: "btn btn-default") %>
    <%= link_to("Add new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-default") %>
  </div>
</div>




